@model _50331_2_MESHKOVA.Models.Cart

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваша корзина</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Всего калорий</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.GetItems())
        {
            <tr>
                <td>@item.Dish.DishName</td>
                <td>@item.Quantity</td>
                <td>@(item.Dish.Calories*item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>
<a href="@TempData["returnUrl"]" class="btn btn-default">Вернуться к меню</a>

