@model _50331_2_MESHKOVA.DAL.Entities.Dish

<div class="col-md-4">
    <div class="thumbnail">
        <img height="200" src="@Url.Action("GetImage",new { productId=Model.DishID})" alt="NoImage" />
        <div class="caption">
            <div class="item-name">
                <h3>@Model.DishName</h3>
            </div>
            <div class="item-description">
                @Model.Description
            </div>
            <div class="centered">
                <h3 class="badge">@Model.Calories калорий</h3>
            </div>
            <div class="centered">
                <a href=@Url.Action("AddToCart","Cart",new { id=Model.DishID,returnUrl=Request.Path}) class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>В корзину</a>
            </div>
        </div>
    </div>
</div>


